$navbarleftwidth: 200px;

.navbarleft{
  border-right: 2px solid lightgrey;
  height: 100%;
  position: fixed;
  top: 0;
  width: $navbarleftwidth;
}

.desknavitem, .desknavfooter{
  display: block;
  text-align: center;
  width: 100%}

.desknavitem{
  border-top: 2px solid lightgrey;
  font-size: 12px;
  height: 15%;
}

.desknavitem img{
  height: 30%;
  margin: 16px 0 0 0px;
}

.desknavitem h3{
  margin: 0;
}

.momomegalogo{
  height: 20%;
  text-align: center;
  vertical-align: middle;
}

.momomegalogo img{
  padding: 24px 0px;
  width: 80%;
}

.desknavfooter{
  bottom: 0;
  height: 25%;
  position: absolute;
  width: 100%;
}
