.navbarleft{
  background-color: papayawhip  ;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  width: 200px;
}

.desknavitem, .desknavfooter{
  display: block;
  text-align: center;
  width: 100%}

.desknavitem{
  border-top: 2px solid lightgrey;
  font-size: 12px;
  height: 15%;
}

.desknavitem img{
  padding-top: 16px;
}

.momomegalogo{
  height: 20%;
  text-align: center;
  vertical-align: middle;
}

.momomegalogo img{
  padding: 24px 0px;
  width: 80%;
}
