$submenufontsize: 14px;

.submenu{
  background-color: #050404;
  color: #FFFFFF;
  display: inline-block;
  height: 48px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  width: 100%;
}

.submenudesc, .sortingitem, .dropdownbutton{
  display: inline-block;
  font-size: $submenufontsize;
  height: 100%;
  line-height: $submenufontsize;
  vertical-align: top;
}

.submenudesc{
  padding-left: 32px;
  width: 56%;
}

.sortingitem{
  padding: 0px 24px;
  text-align: center;
  width: 22%;
}

.sortingitem h4{
  margin-bottom: 0;
}

.sortingitem img{
  margin: 0;
  padding: 0;
  width: 32px;
}

.highlighteditem{
  background-color: #35302F;
}

.dropdownbutton{
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.dropdownbutton i{
  font-size: 32px;
}
