*{ box-sizing: border-box }

.columnscontainer{font-size: 0;}

@import "./infopanes";
@import "./navbarleft";
@import "./navbartop";
@import "./submenu";

body{font-family: "Hind", "Futura", "sans-serif";}


// Mobile-responsive display
.navbarleft{
  display: none;
}

@media screen and (min-width: 768px){
  .navbartop{
    display: none;
  }
  .navbarleft{
    display: block;
  }
}
