*{ box-sizing: border-box }

.columnscontainer{font-size: 0;}

@import "./infopanes";
@import "./navbarleft";
@import "./navbartop";
@import "./submenu";

body{
  font-family: "Hind", "Futura", "sans-serif";
  margin: 0;
}


// Mobile-responsive display
.navbarleft{
  display: none;
}

// Tablet and desktop display
@media screen and (min-width: 768px){
  .navbartop{
    display: none;
  }
  #fullpage{
    padding-left: $navbarleftwidth;
  }
  .navbarleft{
    display: block;
    margin: 0 auto;
    left: 0;
  }
  .dropdownbutton{
    display: none;
  }
}
